@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "INCIWIKI";
}
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row justify-content-between">
            <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
                <img src="~/img/logo/logo.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <h3>@localizer["Baslik"]</h3>
                <p>
                    @localizer["Bilgi"]
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <i class="bx bx-receipt"></i>
                        <h4>@localizer["Soru"]</h4>
                        <p>
                            @localizer["Aciklama"]
                        </p>
                    </div>
                    <div class="col-md-6">
                        <i class="bx bx-cube-alt"></i>
                        <h4>INCIWIKI</h4>
                        <p>
                            @localizer["Tanim"]
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->