@model IEnumerable<Inciwiki.Models.Icerik>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IcerikAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklamasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IcerikResmi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puani)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IcerikAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklamasi)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.IcerikResmi)*@
                <img src="@Url.Content(item.IcerikResmi)" class="d-block w-50" asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puani)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>